textarea {
	resize:none;
}

.logo img{
	width: 170px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	font-size: 18px;
	color: #000000;
}

@media (max-width: 1024px){

	h1 {
		font-size: 25px;
	}

}